body{
	background-color: #333333 ;
	font-family: 'Staatliches', cursive;
	color: white;
}
.head1{
	text-align: center;
	
}

.btn{
	height: 30px;
	width: 80px;
	font-size: 22px;
	font-family: 'Staatliches', cursive;
	background-color: white;
	color: #333333;
	border-radius: 20px;
	border: 2px solid grey;
	cursor: pointer;
	transition: 0.2s;
	margin-top: 530px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
}
.btn:hover{
	color: white;
	background-color: #333333;
	
}

.btn a{
	text-decoration: none;
	color: #333333;
	transition: 0.2s;
}
.btn a:hover{
	color: white;
}